<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns="http://www.w3.org/ns/widgets"
		xmlns:gap ="http://phonegap.com/ns/1.0"
		
		versionCode ="11"
		version ="1.0.0">
		
		<name> Barcode Scanner </name>
		<description>
			An app to scan barcode and display details 
		</description>
		<author href="hVp://www.ashesi.edu.gh" email="migaliza.lyza@gmail.com">>
			Beatrice Migaliza
		</author>
		
		<content src="index.html:"/>
		<gap:plugin name="com.phonegap.plugins.barcodescanner" version="2.2.0" />
	</widget>
	

